.callout-container {
  position: absolute;
  top: 9px;
  left: 12px;
  display: flex;
  row-gap: 6px;
  flex-direction: column;
}
.callout-container .callout-badge {
  padding: 4px 13px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 10;
}

product-card .number_of_sizes {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.48px;
  color: #000000;
}

.shopify-section--scrolling-text-v2 .section {
  padding-top: 36px;
  padding-bottom: 36px;
}

.header.is-filled .custom-button-all a {
  background-color: #3785C4;
}

.no-padd {
  padding-left: 0px;
  padding-right: 0px;
}

.icon_with_container img {
  display: inline-block;
  margin: 0px;
  margin-right: 19px;
}

.with_handee p:nth-child(1) {
  -webkit-margin-after: var(--spacing-2);
          margin-block-end: var(--spacing-2);
}
@media screen and (min-width: 700px) {
  .with_handee p:nth-child(1) {
    -webkit-margin-after: var(--spacing-3);
            margin-block-end: var(--spacing-3);
  }
}
@media screen and (min-width: 1150px) {
  .with_handee p:nth-child(1) {
    -webkit-margin-after: var(--spacing-5);
            margin-block-end: var(--spacing-5);
  }
}
.with_handee p:nth-child(2) {
  display: inline !important;
}

.handee-icon-container {
  width: 56px;
  height: 31px;
  background: url(https://cdn.shopify.com/s/files/1/0609/6725/6116/files/Handee_Mono_Logo_Reverse_150dpi_1_1_1.png?v=1687784420);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 6px;
  top: 9px;
  position: relative;
}

.logo_in_copyright {
  width: 57px;
  height: 14px;
  position: relative;
  top: -3px;
  display: inline;
}
