.callout-container {
  position: absolute;
  top: 9px;
  left: 12px;
  display: flex;
  row-gap: 6px;
  flex-direction: column;
}
.callout-container .callout-badge {
  padding: 4px 13px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 10;
}

product-card .number_of_sizes {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.48px;
  color: #000000;
}

.shopify-section--scrolling-text-v2 .section {
  padding-top: 36px;
  padding-bottom: 36px;
}

.header.is-filled .custom-button-all a {
  background-color: #3785C4;
}

.product-block-link_ratialers .container-inner {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  position: relative;
}
@media (max-width: 990px) {
  .product-block-link_ratialers .container-inner {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
.product-block-link_ratialers .content_icon_container {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  overflow-x: scroll;
  flex-direction: row;
  flex-wrap: nowrap;
}
.product-block-link_ratialers .content_icon_container a {
  background: transparent;
  border: 2px solid #E3E3E3;
  border-radius: 10px;
  height: 76px;
  display: inline-flex;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  min-width: 120px;
  max-width: 200px;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 990px) {
  .product-block-link_ratialers .content_icon_container a {
    height: 65px;
    min-width: initial;
  }
}
.product-block-link_ratialers .content_icon_container a .image_container {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 46px;
  width: 100%;
}
.product-block-link_ratialers .content_icon_container::-webkit-scrollbar {
  display: none;
}

icon-links-slider {
  position: relative;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.left-button {
  left: -11px;
}

.right-button {
  right: -11px;
}

.no-padd {
  padding-left: 0px;
  padding-right: 0px;
}

.icon_with_container img {
  display: inline-block;
  margin: 0px;
  margin-right: 19px;
}

.with_handee p:nth-child(1) {
  -webkit-margin-after: var(--spacing-2);
          margin-block-end: var(--spacing-2);
}
@media screen and (min-width: 700px) {
  .with_handee p:nth-child(1) {
    -webkit-margin-after: var(--spacing-3);
            margin-block-end: var(--spacing-3);
  }
}
@media screen and (min-width: 1150px) {
  .with_handee p:nth-child(1) {
    -webkit-margin-after: var(--spacing-5);
            margin-block-end: var(--spacing-5);
  }
}
.with_handee p:nth-child(2) {
  display: inline !important;
}

.handee-icon-container {
  width: 56px;
  height: 31px;
  background: url(https://cdn.shopify.com/s/files/1/0609/6725/6116/files/Handee_Mono_Logo_Reverse_150dpi_1_1_1.png?v=1687784420) !important;
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 6px;
  top: 9px;
  position: relative;
  display: inline-block;
}

.logo_in_copyright {
  width: 57px;
  height: 14px;
  position: relative;
  top: -3px;
  display: inline;
}
